header.main-header
	a(href='/').logo
		span.logo-mini
			<b>A</b> LT
		span.logo-lg
			<b>Tachikoma ops</b>
	nav(role='navigation').navbar.navbar-static-top
		a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle
			span.sr-only Toggle Navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
