aside.main-sidebar
	section.sidebar
		.user-panel
			.pull-left.image
				img(src='/adminlte/dist/img/tachikoma-170x170.png',alt='User Image').img-circle
			.pull-left.info
				p Lassie
				a(href='#')
					i.fa.fa-circle.text-success
					| Online
		form(action='#',method='get').sidebar-form
			.input-group
				input(type='text', name='q',placeholder='Search...').form-control
				span.input-group-btn
						button(type='submit', name='search')#search-btn.btn.btn-flat
							i.fa-fa-search
		ul.sidebar-menu
			li.header
				| Main Navigation
			li
				a(href='#')
					i.fa.fa-dashboard
					span
						| Dashboard
			li
				a(href='#')
					i.fa.fa-th
					span
						| Apps Configuration
			li.treeview
				a(href='#')
					i.fa.fa-laptop
					span
						| Global Settings
